= @resource.name

= Time.now.strftime("%A %m/%d/%y")

- if @resource.open

  %div
    = form_for :user, url: {controller: "entries", action: 'create'}  do |f|
      = f.text_field :first_name, placeholder: 'First Name'
      = f.text_field :last_name, placeholder: 'Last Name'
      = f.phone_field :phone_number, placeholder: 'Phone Number'
      = f.hidden_field :waitlist_id, value: @current_waitlist.id
      = f.submit 'Add to Waitlist'
  - if flash[:errors]
    = flash[:errors].first

  %div
    %ul
      - @current_waitlist.entries.where(active: 1).order(created_at: :asc).each do |e|
        %li
          %p
            = "#{e.first_name} #{e.last_name}"
          - if e.active == 1
            = form_for e do |f|
              = f.hidden_field :waitlist_id, value: @current_waitlist.id
              = f.hidden_field :active, value: 0
              = f.submit 'Clear'

= form_for @resource, url: {action: 'toggle_open_close', id: @resource} do |f|
  =f.submit "#{@resource.open ? 'Close' : 'Open'}"
